<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <a href="#" title="Vertias">
                <img src="../assets/images/Veritas-logo.png" alt="logo icon here">
            </a>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span class="right-margin-space">
            <a href="#" title="Vertias">
                <img src="../assets/images/chat_icon.png" alt="logo icon here">
            </a>
        </span>
        <span class="right-margin-space">Welcome</span>
    </mat-toolbar-row>
</mat-toolbar>