.header {
    width: 100%;
    /* margin-left: 5%; */
    border: 2px solid blue;
}

.figure {
    width: 10%;
    float: left;
    /* border: 2px solid black; */
}

.article {
    width: 60%;
    margin-left: 30%;
    padding: 22px;
    /* border: 2px solid green; */
}

.article h1 {
    color: blue;
    /* border: 2px solid red; */
}

.figure img {
    width: 100px;
    height: 70px;
}



